body {
  font-family: lato;
  width: 700px;
  margin: 50px auto;
}
h1 a {
  color: red;
  text-decoration: none;
  font-size: 75px;
  font-weight: 300;
}
h2{
  font-size: 45px;
  font-weight: 300;
  margin: 10px 0px;

}
h2 a {
  color: black;
  text-decoration: none;
  font-size: 49px;
  font-weight: 300;
}
article h3 {
  color: grey;
  text-decoration: none;
  font-size: 35px;
  font-weight: 300;
  margin: 50px 0px 10px 0px;
}
article h2 {
  font-size: 65px;
}
h4 a {
  color: red;
  text-decoration: none;
}
header nav a{
  color: grey;font-size: 30px;
  padding-right: 15px;

}
footer nav a{
  color: red;
}
p.first-letter::first-letter {
  float: left;
  font-size: 100px;
  line-height: 82px;
  color: grey;
  margin: 0px ;
}
p {
  margin-bottom: 60px;
  line-height: 25px;
}
a.right {
  float: right;
}
